@import "./blocks/normalize.css";
@import "vars";
@import "./blocks/aside";
@import "./blocks/services";
@import "./blocks/brands";
@import "./blocks/repair";
@import "./blocks/price";
@import "./blocks/adress";
@import "./blocks/footer";



body {
  margin: 0;
  font-family: $medium;
	color: $textGray;
	display: flex;
	overflow-x: hidden;
}
