@import "vars";

@font-face {
  font-family: 'Lakes-Bold';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Lakes-Medium';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Lakes-Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: $medium;
  background-color: $textBlack;
  color: $textGray;
}
h3 {
	@extend %btn;
}
.check {
	@extend %btn-arrow;
	background:url('../img/logo.svg') no-repeat center;
}
