.adress {
	&__title {
		@extend %title;
		@media screen and (max-width: 769px) {
			margin-top: 17px;
		}
	}
	&__partners {
		position: relative;
		margin-top: 38px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	&__link {
		@extend %link;
		margin-right: 64px;
	}
	&__map {
		height: 56.5vh;
		width: auto;

		box-sizing: border-box;
		margin: 28px 48px 0 32px;
		border-radius: 6px;
		@media screen and (max-width: 769px) {
			margin: 0;
		}
		
	}
	&__description {
		display: flex;
		justify-content: center;
		color: $textBlack;
		font-size: 14px;
		font-family: $reg;
		flex-wrap: wrap;
		@media screen and (max-width: 997px) {
			width: 100vw;
		}
	}
}

.description {
	&__item {
		width: 36vw;
		line-height: 20px;
		margin: 25px 16px 0 16px;
		@media screen and (max-width: 997px) {
			width: 45vw;
		}
		@media screen and (max-width: 600px) {
			width: 93vw;
		}
	}
}