.adress {
	&__title {
		@extend %title;
	}
	&__partners {
		position: relative;
		margin: 20px 0;
		padding: 0 32px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	&__link {
		@extend %link;
		margin-right: 32px;
	}
	&__map {
		height: 56.5vh;
		width: auto;

		box-sizing: border-box;
		margin-top: 28px;
		padding: 0 32px;
		border-radius: 6px;
		@media screen and (max-width: 769px) {
			margin: 0;
		}
		@media screen and (max-width: 600px) {
			padding: 0;
		}
		
	}
	&__description {
		display: flex;
		justify-content: center;
		color: $textBlack;
		font-size: 14px;
		font-weight: 400;
		flex-wrap: wrap;
		width: 100%;
		@media screen and (max-width: 997px) {
			width: 100vw;
		}
	}
}

.description {
	padding: 0 24px;
	&__item {
		line-height: 20px;
		margin: 16px 8px;
		width: 48%;
		@media screen and (max-width: 769px) {
			width: auto;
		}
		@media screen and (max-width: 600px) {
			width: 93vw;
		}
	}
}