.brands {
	box-sizing: border-box;
	@media screen and (max-width: 997px) {
		width: 98vw;
	}
	&__title {
		@extend %title;
	}
	&__items {
		display: flex;
		padding-left: 16px;
		margin-top: 9px;
		flex-wrap: wrap;
		height: 185px;
		transition: all .3s ease;
		@media screen and (max-width: 997px) {
			height: 165px;
		}
		@media screen and (max-width: 600px) {
			height: 120px;
			flex-wrap: nowrap;
		}
		&-active {
			height: auto;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 8px 16px;
		height: 72px;
		width: 240px;
		background-color: #fff;
		border: 1px solid #EAEAEA;
		border-radius: 6px;
		transition: all .3s ease;
		&-arrow {
			@extend %btn-arrow;
			margin-right: 18px;
			transition: all .3s ease;
		}
		&:hover {
			box-shadow: 0px 0px 5px 1px $pink;
			.brands__item-arrow {
				box-shadow: 0px 0px 5px 1px $pink;
			}
		}		
		@media screen and (max-width: 997px) {
			margin-top: 3px;
			margin-left: 8px;
			width: 220px;
		}
		@media screen and (max-width: 600px) {
			width: 58vw;
		}
	}
	&__logo {
		display: block;
		margin-left: 20px;
	}
	&__more {
		@extend %more;		
		@media screen and (max-width: 997px) {
			margin-top: 20px;
			margin-left: 21px;
		}
		&-active {
			&::before, &::after {
				transform: rotate(225deg) translate(-3px, -3px);
			}
		}
		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #DDDDDD;
	border-radius: 50%;
	&-active {
		background-color: #B5B6BC;
	}
}

