.brands {
	box-sizing: border-box;
	@media screen and (max-width: 997px) {
		width: 98vw;
	}
	&__title {
		@extend %title;
	}
	&__items {
		display: flex;
		padding-left: 16px;
		margin-top: 9px;
		flex-wrap: wrap;
		height: 180px;
		transition: all .3s ease;
		@media screen and (max-width: 997px) {
			height: 165px;
		}
		@media screen and (max-width: 600px) {
			height: 120px;
			flex-wrap: nowrap;
		}
		&-active {
			height: auto;
		}
	}
	&__item {
		height: 72px;
		align-items: center;
	}
	&__logo {
		display: block;
		margin-left: 20px;
	}
	&__more {
		@extend %more;		
		@media screen and (max-width: 997px) {
			margin-top: 20px;
			margin-left: 21px;
		}
		&-active {
			&::before, &::after {
				transform: rotate(225deg) translate(-3px, -3px);
			}
		}
		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #DDDDDD;
	border-radius: 50%;
	&-active {
		background-color: #B5B6BC;
	}
}

