.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 48px 32px 32px;
	color: $textGray;
	font-family: $reg;
	font-size: 14px;
	margin-top: 83px;
	&__copyrights {
		text-align: left;		
		@media screen and (max-width: 600px) {
			text-align: center;
			margin-bottom: 18px;
		}
	}
	&__information {
		text-align: right;
		@media screen and (max-width: 600px) {
			text-align: center;
			margin-top: 18px;
		}
	}
	@media screen and (max-width: 997px) {
		box-sizing: border-box;
    width: 100vw;
	}	
	@media screen and (max-width: 600px) {
		flex-direction: column;
		align-items: center;
	}	
}