.repair {
	&__title {
		@extend %title;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-top: 21px;
		padding-left: 16px;
		overflow: hidden;
		height: 180px;
		@media screen and (max-width: 1439px) {
			height: 170px;
			width: 77.5vw;
		}
		@media screen and (max-width: 997px) {
			width: 98vw;
		}
		@media screen and (max-width: 769px) {
			margin-top: 12px;
		}
		@media screen and (max-width: 600px) {
			flex-wrap: nowrap;
			overflow: visible;
			height: 208px;
		}
		&-active {
			height: auto;
		}
	}
	&__item {
		color: $textBlack;
		height: 160px;
		text-decoration: none;
		padding: 18px;
		position: relative;
		&-arrow {
			position: absolute;
			@extend %btn-arrow;
			right: 16px;
			bottom: 16px;
		}
		&:hover {
			box-shadow: 0px 0px 5px 1px $pink;
		}	
		@media screen and (max-width: 997px) {
			margin-top: 3px;
			margin-left: 8px;
		}
	}
	&__more {
		color: $textBlack;
		font-weight: 500;
		font-size: 16px;
		@extend %more;
		@media screen and (max-width: 769px) {
			margin-top: 20px;
		}
		@media screen and (max-width: 600px) {
			display: none;
		}
		&-active {
			&::before, &::after {
				transform: rotate(225deg) translate(-3px, -3px);
			}
		}
	}
}