
.service {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	&__header {
		padding-top: 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		margin: 0;
		font-weight: 700;
		padding-left: 35px;
		padding-right: 35px;
		font-size: 28px;
		line-height: 48px;
		color: $textBlack;
		transform: translateX(-1px);
		border-left: 3px solid $activeBlue;
		border-radius: 2px;
		letter-spacing: -.7px;
		@media screen and (max-width: 997px) {
			padding-left: 21px;
			padding-right: 21px;
		}
	}
	&__buttons {
		display: flex;
		margin-right: 35px;
	}
	&__link {
		text-decoration: none;
		color: $textBlack;
		font-weight: 500;
		font-size: 16px;
		display: flex;
		align-items: center;
		margin-right: 20px;
		transition: all .3s ease;
		
		@media screen and (max-width: 1025px) {
			margin-right: 5px;			
			display: none;
		}

		&-img {
			@extend %btn;
			margin-left: 12px;
			transition: all .3s ease;
			background: $pink url('../img/i-request.svg') no-repeat center;
		}
		&:last-child {
			.service__link-img {
				background: $pink url('../img/i-status.svg') no-repeat center;
			}
		}
		&:hover {
			color: $textGray;
			.service__link-img {
				background-color: lighten($pink, 10%);
			}
		}
	}
	&__tabs {
		padding-left: 35px;
		padding-right: 35px;
		@media screen and (max-width: 600px) {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.tabs {
	font-weight: 400;
	margin-top: 5px;
	@media screen and (max-width: 997px) {
		padding-left: 23px;
		padding-right: 23px;
		margin-top: 25px;
	}
	@media screen and (max-width: 600px) {
		padding-left: 16px;
		padding-right: 16px;
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		// width: 100vw;
		@media screen and (max-width: 769px) {
			flex-wrap: nowrap;
			overflow-x: scroll;
			white-space: nowrap;
			margin-right: 30px;
			&::-webkit-scrollbar { 
				width: 0px; 
				background: transparent;
			}
		}
	}
	&__item {
		font-size: 16px;
		display: flex;
		align-items: center;
		color: $textGray;
		line-height: 24px;
		letter-spacing: -.2px;		
		padding: 6px 18px;
		margin: 0 2px 8px 0;		
		cursor: pointer;
		transition: all .3s ease;
		box-sizing: border-box;
		border: 2px solid transparent;
		&-active, &:hover {
			border: 2px solid $activeBlue;
			border-radius: 6px;
			background-color: #fff;
		}
	}
}

.feedback {
	display: flex;
	color: $textBlack;
	&__content {
		display: none;		
		&-active {
			display: flex;
			align-items: flex-start;
			@media screen and (max-width: 600px) {
				align-items: flex-start;
			}
		}		
		@media screen and (max-width: 600px) {
			width: 92vw;
			flex-direction: column;
		}
	}
	&__text-block {
		font-size: 14px;
		line-height: 20px;
		width: 50%;
		display: block;
		@media screen and (max-width: 997px) {
			width: 44vw;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
	}
	&__text {
		margin: 0;
		padding-top: 15px;
		overflow: hidden;
		height: 230px;
		transition: all .3s ease;
		@media screen and (max-width: 1500px) {
			height: 170px;
		}		
		@media screen and (max-width: 997px) {
			height: 140px;
		}
		@media screen and (max-width: 769px) {
			height: 185px;
		}
		&-active {
			height: auto;
		}
	}
	&__more {		
		@extend %more;
		margin-left: 0;
		&::after {
			bottom: 7px;
		}
		&-active {
			&::before, &::after {
				transform: rotate(225deg) translate(-3px, -3px);
			}
		}
	}
	&__img {
		display: block;
		border-radius: 7px;
		margin-left: 15px;
		width: 50%;
		object-fit: contain;
		@media screen and (max-width: 997px) {
			width: 48vw;
		}
		@media screen and (max-width: 600px) {
			margin-top: 20px;
			margin-left: -16px;
			width: 100vw;
			border-radius: 0px;
		}
	}
}
.mob-header {
	display: none;
	background-color: #fff;
	height: 88px;
	box-sizing: border-box;
	padding: 23px 32px;
	width: 100vw;
	transition: all .3s ease;
	@media screen and (max-width: 600px) {
		padding: 23px 10px;
	}
	&__menu-btn {
		@extend %btn;
		position: relative;
		margin-right: 21px;
		width: 43px;
		&--lines {
			display: block;
			position: absolute;
			background-color: #fff;
			height: 2px;
			width: 10px;
			top: 50%;
			left: 40%;
			transform: translate(-50%, -50%);
			border-radius: 3px;
			transition: all .3s ease;
			&::before, &::after {
				content: '';
				position: absolute;
				display: block;
				height: 2px;
				background-color: #fff;
				width: 10px;
			}
			&::before {
				width: 18px;				
				transform: translateY(-6px);
			}
			&::after {
				width: 14px;				
				transform: translateY(6px);
			}
		}
	}
	&__logo {
		display: block;
		margin-left: 85px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 30px;
			width: 2px;
			background-color: #EAEAEA;
			top: 50%;
			transform: translateY(-50%);
			left: -20px;
		}
		&-img {
			display: block;
			height: 50px;
		}
		@media screen and (max-width: 600px) {
			margin-left: 0;
			&::before {
				display: none;
			}
		}
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		@media screen and (max-width: 600px) {
			padding-left: 70px;
		}
	}
	&__buttons {
		display: flex;
	}
	&__btn {
		@extend %btn;
		margin-left: 16px;
		&-call {
			background: $pink url('../img/i-call.svg') no-repeat center;
		}
		&-chat {
			background: $pink url('../img/i-chat.svg') no-repeat center;
		}
		&-contacts {
			background: $pink url('../img/i-contacts.svg') no-repeat center;
			margin-right: 26px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				height: 30px;
				width: 2px;
				background-color: #EAEAEA;
				top: 50%;
				transform: translateY(-50%);
				right: -20px;
			}
		}
		&-settings {
			background: $pink url('../img/i-request.svg') no-repeat center;
		}
		&-repair {
			background: $pink url('../img/i-status.svg') no-repeat center;
		}		
		@media screen and (max-width: 600px) {
			&-call, &-chat, &-contacts {
				display: none;
			}
			&-settings {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					height: 30px;
					width: 2px;
					background-color: #EAEAEA;
					top: 50%;
					transform: translateY(-50%);
					left: -20px;
				}
			}
		}
	}
	@media screen and (max-width: 997px) {
		display: flex;
		align-items: center;
	}
}
.swiper-pagination {
	display: none;
	@media screen and (max-width: 600px) {
		display: flex;
		justify-content: center;
	}
}
.links {
	&__item {
		@extend %btn;
	}
	&__arrow {
		display: flex;
		justify-content: space-between;
		margin: 8px 16px;
		width: 240px;
		background-color: #fff;
		border: 1px solid #EAEAEA;
		border-radius: 6px;
		transition: all .3s ease;
		&-ar {
			@extend %btn-arrow;
			margin-right: 18px;
			transition: all .3s ease;
		}
		&:hover {
			box-shadow: 0px 0px 5px 1px $pink;
			.links__arrow-ar {
				box-shadow: 0px 0px 5px 1px $pink;
			}
		}		
		@media screen and (max-width: 997px) {
			margin-top: 3px;
			margin-left: 8px;
			width: 220px;
		}
		@media screen and (max-width: 600px) {
			width: 58vw;
		}
	}
	&__more {

	}
}
.block {
	&__title {
		margin-top: 50px;
	}
}